body{background-color: rgb(238, 160, 15);}
header{ background-color: rgb(240, 25, 25); padding: 61px; margin: 61px;}
*{margin:0 ; padding:0; box-sizing: content-box; text-transform: capitalize; list-style: none;}